<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Circuitscape {{version}}">
		<meta name="author" content="tan">
		<link rel="shortcut icon" href="/static/cs_logo.ico">

		<title>Circuitscape {{version}}</title>

		<link href="/ext/bootstrap/css/bootstrap.css" rel="stylesheet">

		<link href="/static/styles.css" rel="stylesheet">
		<link href="/static/bootstrap-spinedit.css" rel="stylesheet">
	</head>

	<body>

		<!-- Wrap all page content here -->
		<div id="wrap">
			<!-- Fixed navbar -->
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#about" data-toggle="modal" data-target="#about_div">Circuitscape</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<span style="color: gray;"><small>{{version}}</small></span>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<span class="navbar-text">Welcome {{username}}&nbsp;|&nbsp;&nbsp;</span>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<!--li>
										<a href="#" id="menu_load_last">Load from last run</a>
									</li-->
									<li>
										<a href="#" id="menu_load_file_select" class="server_file_dlg">Load from file</a>
										<input id="menu_load_file" type="text">
									</li>
									<!--li>
										<a href="#" id="menu_save_to_file">Save to file</a>
									</li-->
									<!--li class="divider"></li>
									<li>
										<a href="#">Run Batch</a>
									</li-->
									<li class="divider"></li>
									<li>
										<a href="#" id="menu_verify">Verify Installation</a>
									</li>
									{% if ("admin" in userrole) %}
									<li>
										<a href="#" id="menu_admin">Server Administration</a>
									</li>
									{% end %}
								</ul>
							</li>
							<li>
								<a href="#" id="shutdown"><span class="glyphicon glyphicon-log-out"></span></a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->					
				</div><!--/.container -->
			</div><!--/.navbar -->

			<!-- Begin page content -->
			<div class="container">
				<div class="alert alert-dismissable" id="in_page_alert" style="display: none;">
				  <button type="button" class="close" aria-hidden="true" onclick="$('#in_page_alert').hide()">&times;</button>
				  <div id="in_page_alert_msg"> </div>
				</div>				
				<ul class="nav nav-tabs" id="input_tabs">
				  <li class="active"><a href="#tab_input_types">Input Types</a></li>
				  <li><a href="#tab_habitat_data">Resistance Data</a></li>
				  <li class="on_modeling_mode on_pairwise on_all-to-one on_one-to-all"><a href="#tab_focal_nodes">Focal Nodes</a></li>
				  <li class="on_modeling_mode on_advanced"><a href="#tab_sources_and_grounds">Current Sources &amp; Grounds</a></li>
				  <li><a href="#tab_execution_result_options">Execution Options &amp; Result Formats</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab_input_types">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<label class="col-lg-2 control-label">Input Format</label>
									<div class="col-lg-6 controls">
										<div class="btn-group" data-toggle="buttons" id="input_format">
											<label class="btn btn-default active">
												<input type="radio" name="input_type" value="raster" checked="checked"> Raster
											</label>
											<label class="btn btn-default">
												<input type="radio" name="input_type" value="network"> Network Graph
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">						
									<label class="col-lg-2 control-label">Modeling Mode</label>
									<div class="col-lg-6 controls">
										<div class="btn-group" data-toggle="buttons" id="modeling_mode">
											<label class="btn btn-default active">
												<input type="radio" name="radio_modeling_mode" value="pairwise" checked="checked"> Pairwise
											</label>
											<label class="btn btn-default on_raster">
												<input type="radio" name="radio_modeling_mode" value="one-to-all"> One-to-All
											</label>
											<label class="btn btn-default on_raster">
												<input type="radio" name="radio_modeling_mode" value="all-to-one"> All-to-One
											</label>
											<label class="btn btn-default">
												<input type="radio" name="radio_modeling_mode" value="advanced"> Advanced
											</label>
										</div>
										<p class="help-block">Choose a Source/Ground modeling mode<br/>
											Pairwise: Iterate across all pairs in focal node file<br/>
											One-to-all: Activate one focal node at a time with others grounded<br/>
											All-to-one: Ground one focal node at a time with others activated<br/>
											Advanced: Activate independent sources and grounds
											</p>
									</div>
								</div>
							</fieldset>
						</form>
					</div> <!--/.tab-pane -->
					<div class="tab-pane" id="tab_habitat_data">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Use Resistance File</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="habitat_file" class="form-control" type="text" style="min-width: 380px">
											<span id="habitat_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
											<span class="input-group-addon">&nbsp;&nbsp;values coded as&nbsp;&nbsp;</span>
											<select class="form-control" name="habitat_data_type" id="habitat_data_type" style="max-width: 150px; min-width: 130px">
												<option value="R">Resistances</option>
												<option value="C">Conductances</option>
											</select>
										</span>
									</div>
								</div>
							</fieldset>
							<fieldset class="on_raster">
								<div class="form-group">
									<label class="col-sm-2 control-label">Mask Resistance Map with</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="habitat_mask_file" class="form-control" type="text" style="min-width: 380px">
											<span id="habitat_mask_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</span>
										<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>
							<fieldset class="on_raster">
								<div class="form-group">
									<label class="col-sm-2 control-label">Connect Each Cell to</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<select class="form-control" name="cell_conn_type" id="cell_conn_type">
												<option value="8">Eight Neighbors</option>
												<option value="4">Four Neighbors</option>
											</select>
											<span class="input-group-addon">&nbsp;&nbsp;with&nbsp;&nbsp;</span> 
											<select class="form-control" name="cell_calc_type" id="cell_calc_type">
												<option value="R">Average Resistance</option>
												<option value="C">Average Conductance</option>
											</select>
										</span>
									</div>
								</div>
							</fieldset>
							<fieldset class="on_raster">
								<div class="form-group">
									<label class="col-sm-2 control-label">Short Circuit Regions</label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<input id="short_circuit_file" class="form-control" type="text" style="min-width: 380px">
											<span id="short_circuit_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</div>
										<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>
						</form>						
					</div>  <!--/.tab-pane -->
					<div class="tab-pane" id="tab_focal_nodes">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Use Focal Node Map</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="focal_nodes_file" class="form-control" type="text" style="min-width: 400px">
											<span id="focal_nodes_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</span>
									<p class="help-block">Points: each focal node contains one cell (fastest computation).<br/>Regions: focal nodes may contain more than one cell</p>
									</div>
								</div>
							</fieldset>							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Include/Exclude Focal Nodes</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="incl_excl_file" class="form-control" type="text" style="min-width: 400px">
											<span id="incl_excl_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</span>
									<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>							
							<fieldset class="on_modeling_mode on_one-to-all on_all-to-one">
								<div class="form-group">
									<label class="col-sm-2 control-label">Source Strengths</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="src_strength_file" class="form-control" type="text" style="min-width: 400px">
											<span id="src_strength_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</span>
									<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>							
						</form>						
					</div>  <!--/.tab-pane -->
					<div class="tab-pane" id="tab_sources_and_grounds">
						<form class="form-horizontal" role="form">											
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Current Source File</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<div class="input-group">
												<input id="current_sources_file" class="form-control" type="text" style="min-width: 400px">
												<span id="current_sources_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
											</div>
											<input type="checkbox" id="use_unit_currents"> Use unit currents (i=1) for all current sources
										</span>
									</div>
								</div>
							</fieldset>														
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Ground Point File</label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<input id="ground_points_file" class="form-control" type="text" style="min-width: 400px">
											<span id="ground_points_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
											<span class="input-group-addon">&nbsp;&nbsp;values coded as&nbsp;&nbsp;</span>
											<select class="form-control" name="ground_value_type" id="ground_value_type" style="max-width: 150px">
												<option value="R">Resistances</option>
												<option value="C">Conductances</option>
											</select>											
										</div>
										<input type="checkbox" id="chk_use_direct_grounds"> Use direct connection to ground (R=0) for all ground points
									</div>
								</div>
							</fieldset>														
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">On Conflict</label>
									<div class="col-sm-10 controls">
										<select class="form-control" name="rmv_on_conflict" id="rmv_on_conflict" style="width: 350px">
											<option value="keepall">Keep Both Source and Ground</option>
											<option value="rmvall">Remove Both Source and Ground</option>
											<option value="rmvsrc">Remove Only Source</option>
											<option value="rmvgnd">Remove Only Ground</option>
										</select>											
										<p class="help-block">choose how to handle conflicting points in source and ground file</p>
									</div>
								</div>
							</fieldset>														
						</form>						
					</div>  <!--/.tab-pane -->
					<div class="tab-pane" id="tab_execution_result_options">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Output File Path</label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<input id="output_file" class="form-control" type="text" style="min-width: 400px">
											<span id="output_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</div>										
										<input type="checkbox" id="write_volt_maps"> Write Voltage Maps<br/>
										<input type="checkbox" id="write_cur_maps"> Write Current Maps<br/>
										<span class="on_modeling_mode on_pairwise on_one-to-all on_all-to-one">
											<input type="checkbox" id="write_max_cur_maps"> Write maximum of current maps<br/>											
											<input type="checkbox" id="write_cum_cur_map_only"> Write cumulative current map (and maximum if selected) only<br/>
										</span>
										<input type="checkbox" id="log_transform_maps"> Log-transform output current maps<br/>
										<input type="checkbox" id="compress_grids"> Compress output grids<br/>
									</div>
								</div>
							</fieldset>							
							<fieldset class='on_modeling_mode on_pairwise'>
								<div class="form-group">
									<label class="col-sm-2 control-label">Parallel Processors</label>
									<div class="col-sm-10 controls">
										<input type="text" id="num_parallel_procs" disabled="disabled"/>
										<input type="checkbox" id="use_max_parallel"> Use maximum possible<br/>
										<p class="help-block">select how many parallel processors to use</p>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Memory Saving Options</label>
									<div class="col-sm-10 controls">
										<input type="checkbox" id="preemptive_memory_release"> Preemptively release memory
										<span class="on_modeling_mode on_pairwise"><br/><input type="checkbox" id="low_memory_mode"> Run in low memory mode<br/></span>
										<p class="help-block">enabling may result in slower execution</p>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Log Level </label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<select class="form-control" name="ground_value_type" id="log_level">
												<option value="DEBUG">Debug</option>
												<option value="INFO">Info</option>
												<option value="WARN">Warn</option>
												<option value="ERROR">Error</option>
											</select>
										</div>
									</div>
								</div>
							</fieldset>														
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Additional Logs </label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<input type="checkbox" id="print_rusages"> Resource usage information<br/>
											<input type="checkbox" id="print_timings"> Completion times
										</div>
									</div>
								</div>
							</fieldset>														
						</form>						
					</div>  <!--/.tab-pane -->
				</div> <!--/.tab-content -->
				<p>
					<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;<button id="btn_run" type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;Run&nbsp;&nbsp;&nbsp;&nbsp;</button>										
				</p>
						
			</div>  <!--/.container -->
			<div id="push">&nbsp;</div>
		</div> <!--/.wrap -->

		<div id="footer">
			<div class="container">
				<p class="text-muted credit">
					<a href="http://circuitscape.org">Circuitscape (C) 2008-14. Ver. {{version}}</a>.
				</p>
			</div>
		</div>

		<div class="modal fade" id="results_div">
			<div class="modal-dialog" style="width: 90%;">
				<div class="modal-content">
					<div class="modal-header">
						<h3 id="results_div_title">Running Verifications...</h3>
					</div>
					<div class="modal-body" style="text-transform: uppercase; color: #BBBBBB; font-weight: bold; font-size: 12px; letter-spacing: 1px;">
						Execution Logs<br />
						<textarea id="results_div_msg" class="form-control" rows="10"></textarea>
					</div>
					<div class="modal-footer">
						<a id="btn_abort_run" href="#" class="btn btn-primary">Abort</a>
						<a id="results_div_close" href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="logout_div">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">&times;</a>
						<h3 id="logout_div_title">{{txt_shutdown}}</h3>
					</div>
					<div class="modal-body">
						{{txt_shutdown_msg}}
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" data-dismiss="modal" onclick="logoff();">Yes</a>
						<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					</div>
				</div>
			</div>
		</div>

		{% if filedlg_type == "srvr" %}
		<div class="modal fade" id="filedlg_div">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">&times;</a>
						<h3 id="filedlg_div_title">Choose a file</h3>
					</div>
					<div class="modal-body">
						<div id="filedlg_div_dir" class="filedlg_cwd"> </div>
						<ul id="filedlg_div_files"> </ul>
					</div>
					<div class="modal-footer">
						<input type="text" style="width: 385px; display: inline" id="filedlg_filename" class="form-control"> 
						<a id="btn_filedlg_div_sel" href="#" class="btn btn-primary">Select</a>
						<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>							
					</div>
				</div>
			</div>
		</div>
		{% end %}
		<div class="modal fade" id="about_div">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">&times;</a>
						<h3>About Circuitscape</h3>
					</div>
					<div class="modal-body">
						<img src="static/cs_logo.jpg" class="pull-left" style="margin-right: 10px"/>
						<p>
							Version {{version}}
							<br>
							<a href="http://www.circuitscape.org/">http://www.circuitscape.org/</a>
							<br/>
							<br/>
							Circuitscape is a free, open-source program which borrows algorithms from electronic circuit theory to
							predict patterns of movement, gene flow, and genetic differentiation among plant and animal populations
							in heterogeneous landscapes. Circuit theory complements least-cost path approaches because it considers
							effects of all possible pathways across a landscape simultaneously.
							<br/>
							<br/>
							Circuitscape (C) 2013, {{author}}
							<br/>
							Licensed under LGPL.
						</p>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
			
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/ext/jquery-1.10.2.js" type="text/javascript"></script>
		<script src="/ext/jquery.cookie.js" type="text/javascript"></script>
		<script src="/ext/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/static/bootstrap-spinedit.js" type="text/javascript"></script>
		{%if filedlg_type == "google"%}
		<script type="text/javascript" src="https://apis.google.com/js/api.js" type="text/javascript"></script>
		{%end%}
		<script src="/static/filedlg_{{filedlg_type}}.js" type="text/javascript"></script>
		<script src="/static/script.js" type="text/javascript"></script>
	
		<script type="text/javascript">
			$(document).ready(function() {
				init_circuitscape('{{ws_url}}', '{{sess_id}}');
				{% if filedlg_type == "google" %}
					file_dlg_init_api('{{filedlg_developer_key}}', '{{filedlg_app_id}}', '{{userid}}');
				{% end %}
			});
		</script>
	</body>
</html>
