<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Circuitscape 4.0.0-beta">
		<meta name="author" content="tan">
		<link rel="shortcut icon" href="cs_logo.ico">

		<title>Circuitscape 4.0.0-beta</title>

		<link href="ext/bootstrap/css/bootstrap.css" rel="stylesheet">

		<link href="static/styles.css" rel="stylesheet">
		<link href="static/bootstrap-spinedit.css" rel="stylesheet">
	</head>

	<body>

		<!-- Wrap all page content here -->
		<div id="wrap">

			<!-- Fixed navbar -->
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#about" data-toggle="modal" data-target="#about_div">Circuitscape</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<span style="color: gray;"><small>4.0.0-beta</small></span>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Load from last run</a>
									</li>
									<li>
										<a href="#">Load from file</a>
									</li>
									<li>
										<a href="#">Save to file</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">Run Batch</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">Verify Installation</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#"><span class="glyphicon glyphicon-log-out"></span></a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->					
				</div><!--/.container -->
			</div><!--/.navbar -->

			<!-- Begin page content -->
			<div class="container">
				<ul class="nav nav-tabs" id="input_tabs">
				  <li class="active"><a href="#tab_input_types">Input Types</a></li>
				  <li><a href="#tab_habitat_data">Habitat Data</a></li>
				  <li class="on_modeling_mode on_pairwise on_all-to-one on_one-to-all"><a href="#tab_focal_nodes">Focal Nodes</a></li>
				  <li class="on_modeling_mode on_advanced"><a href="#tab_sources_and_grounds">Current Sources &amp; Grounds</a></li>
				  <li><a href="#tab_execution_result_options">Execution Options &amp; Result Formats</a></li>
				  <li><a href="#tab_results">Run</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab_input_types">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<label class="col-lg-2 control-label">Input Format</label>
									<div class="col-lg-6 controls">
										<div class="btn-group" data-toggle="buttons" id="input_format">
											<label class="btn btn-default active">
												<input type="radio" name="input_type" value="raster" id="input_format_raster" checked="checked"> Raster
											</label>
											<label class="btn btn-default">
												<input type="radio" name="input_type" value="network" id="input_format_network"> Network Graph
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">						
									<label class="col-lg-2 control-label">Modeling Mode</label>
									<div class="col-lg-6 controls">
										<div class="btn-group" data-toggle="buttons" id="modeling_mode">
											<label class="btn btn-default active">
												<input type="radio" name="radio_modeling_mode" value="pairwise" id="modeling_mode_pairwise" checked="checked"> Pairwise
											</label>
											<label class="btn btn-default on_raster">
												<input type="radio" name="radio_modeling_mode" value="one-to-all" id="modeling_mode_one_to_all"> One-to-All
											</label>
											<label class="btn btn-default on_raster">
												<input type="radio" name="radio_modeling_mode" value="all-to-one" id="modeling_mode_all_to_one"> All-to-One
											</label>
											<label class="btn btn-default">
												<input type="radio" name="radio_modeling_mode" value="advanced" id="modeling_mode_advanced"> Advanced
											</label>
										</div>
										<p class="help-block">Choose a Source/Ground modeling mode<br/>
											Pairwise: Iterate across all pairs in focal node file<br/>
											One-to-all: Activate one focal node at a time with others grounded<br/>
											All-to-one: Ground one focal node at a time with others activated<br/>
											Advanced: Activate independent sources and grounds
											</p>
									</div>
								</div>
							</fieldset>
						</form>
					</div> <!--/.tab-pane -->
					<div class="tab-pane" id="tab_habitat_data">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Use Habitat Map</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="habitat_file" class="form-control" type="text" style="min-width: 400px">
											<span id="habitat_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
											<span class="input-group-addon">&nbsp;&nbsp;as per cell&nbsp;&nbsp;</span>
											<select class="form-control" name="habitat_data_type" id="habitat_data_type" style="max-width: 150px; min-width: 100px">
												<option value="">Resistances</option>
												<option value="">Conductances</option>
											</select>
										</span>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Mask Habitat Map with</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="habitat_mask_file" class="form-control" type="text" style="min-width: 400px">
											<span id="habitat_mask_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</span>
										<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>
							<fieldset class="on_raster">
								<div class="form-group">
									<label class="col-sm-2 control-label">Connect Each Cell to</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<select class="form-control" name="cell_conn_type" id="cell_conn_type">
												<option value="">Four Neighbors</option>
												<option value="">Eight Neighbors</option>
											</select>
											<span class="input-group-addon">&nbsp;&nbsp;with&nbsp;&nbsp;</span> 
											<select class="form-control" name="cell_calc_type" id="cell_calc_type">
												<option value="">Average Resistance</option>
												<option value="">Average Conductance</option>
											</select>
										</span>
									</div>
								</div>
							</fieldset>
							<fieldset class="on_raster">
								<div class="form-group">
									<label class="col-sm-2 control-label">Short Circuit Regions</label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<input id="short_circuit_file" class="form-control" type="text" style="min-width: 400px">
											<span id="short_circuit_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</div>
										<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>
						</form>						
					</div>  <!--/.tab-pane -->
					<div class="tab-pane" id="tab_focal_nodes">
						<form class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Use Focal Node Map</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="focal_nodes_file" class="form-control" type="text" style="min-width: 400px">
											<span id="focal_nodes_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
											<span class="input-group-addon">&nbsp;&nbsp;containing&nbsp;&nbsp;</span>
											<select class="form-control" name="habitat_data_type" id="habitat_data_type" style="max-width: 100px">
												<option value="">Points</option>
												<option value="">Regions</option>
											</select>
										</span>
									<p class="help-block">Points: each focal node contains one cell (fastest computation).<br/>Regions: focal nodes may contain more than one cell</p>
									</div>
								</div>
							</fieldset>							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Include/Exclude Focal Nodes</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="incl_excl_file" class="form-control" type="text" style="min-width: 400px">
											<span id="incl_excl_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</span>
									<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>							
							<fieldset class="on_modeling_mode on_one-to-all on_all-to-one">
								<div class="form-group">
									<label class="col-sm-2 control-label">Source Strengths</label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<input id="src_strength_file" class="form-control" type="text" style="min-width: 400px">
											<span id="src_strength_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
										</span>
									<p class="help-block">optional</p>
									</div>
								</div>
							</fieldset>							
						</form>						
					</div>  <!--/.tab-pane -->
					<div class="tab-pane" id="tab_sources_and_grounds">
						<form class="form-horizontal" role="form">											
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Current Sources </label>
									<div class="col-sm-10 controls">
										<span class="input-group" style="max-width: 700px">
											<div class="input-group">
												<input id="current_sources_file" class="form-control" type="text" style="min-width: 400px">
												<span id="current_sources_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
											</div>
											<input type="checkbox"> Use unit currents (i=1) for all current sources
										</span>
									</div>
								</div>
							</fieldset>														
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Ground Points</label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<input id="ground_points_file" class="form-control" type="text" style="min-width: 400px">
											<span id="ground_points_file_select" class="server_file_dlg input-group-addon glyphicon glyphicon-folder-open"></span>
											<span class="input-group-addon">&nbsp;&nbsp;with values as&nbsp;&nbsp;</span>
											<select class="form-control" name="ground_value_type" id="ground_value_type" style="max-width: 150px">
												<option value="">Resistances</option>
												<option value="">Conductances</option>
											</select>											
										</div>
										<input type="checkbox"> Use direct connection to ground (R=0) for all ground points
									</div>
								</div>
							</fieldset>														
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">On Conflict</label>
									<div class="col-sm-10 controls">
										<select class="form-control" name="ground_value_type" id="ground_value_type" style="width: 350px">
											<option value="">Remove Both Source and Ground</option>
											<option value="">Remove Only Source</option>
											<option value="">Remove Only Ground</option>
										</select>											
										<p class="help-block">choose how to handle conflicting points in source and ground file</p>
									</div>
								</div>
							</fieldset>														
						</form>						
					</div>  <!--/.tab-pane -->
					<div class="tab-pane" id="tab_execution_result_options">
						<form class="form-horizontal" role="form">
							<fieldset class='on_modeling_mode on_pairwise'>
								<div class="form-group">
									<label class="col-sm-2 control-label">Parallel Processors</label>
									<div class="col-sm-10 controls">
										<input type="text" id="num_parallel_procs"/>
										<p class="help-block">select how many parallel processors to use</p>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Memory Saving Options</label>
									<div class="col-sm-10 controls">
										<input type="checkbox"> Preemptively release memory
										<span class="on_modeling_mode on_pairwise"><br/><input type="checkbox"> Run in low memory mode<br/></span>
										<p class="help-block">enabling may result in slower execution</p>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Output Options</label>
									<div class="col-sm-10 controls">
										<input type="checkbox"> Write cumulative current map only<br/>
										<input type="checkbox"> Write maximum of current maps<br/>
										<input type="checkbox"> Log-transform output current maps<br/>
										<input type="checkbox"> Compress output grids<br/>
									</div>
								</div>
							</fieldset>														
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Log Level </label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<select class="form-control" name="ground_value_type" id="ground_value_type">
												<option value="">DEBUG</option>
												<option value="">INFO</option>
												<option value="">WARN</option>
												<option value="">ERROR</option>
											</select>
										</div>
									</div>
								</div>
							</fieldset>														
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Additional Logs </label>
									<div class="col-sm-10 controls">
										<div class="input-group" style="max-width: 700px">
											<input type="checkbox"> Resource usage information<br/>
											<input type="checkbox"> Completion times
										</div>
									</div>
								</div>
							</fieldset>														
						</form>						
					</div>  <!--/.tab-pane -->
					<div class="tab-pane" id="tab_results">
						<div class="well">
							<div class="row">
								<button type="button" class="btn btn-primary col-sm-1">&nbsp;&nbsp;&nbsp;&nbsp;Run&nbsp;&nbsp;&nbsp;&nbsp;</button>
								<div class="col-sm-11" style="padding-top: 10px">
									<div class="progress progress-striped">
									  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									    <span class="sr-only">40% Complete (success)</span>
									  </div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12" style="text-transform: uppercase; color: #BBBBBB; font-weight: bold; font-size: 12px; letter-spacing: 1px;">
									Execution Logs<br />
									<textarea class="form-control" rows="10"></textarea>
								</div>
							</div>				
						</div>
					</div>  <!--/.tab-pane -->
				</div> <!--/.tab-content -->		
			</div>  <!--/.container -->
			<div id="push">&nbsp;</div>
		</div> <!--/.wrap -->

		<div id="footer">
			<div class="container">
				<p class="text-muted credit">
					<a href="http://circuitscape.org">Circuitscape (C) 2008-14. Ver. 4.0.0 beta.</a>.
				</p>
			</div>
		</div>

		<div class="modal fade" id="filedlg_div">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">&times;</a>
						<h3 id="filedlg_div_title">Choose a file</h3>
					</div>
					<div class="modal-body">
						<div id="filedlg_div_dir" class="filedlg_cwd"> </div>
						<ul id="filedlg_div_files"> </ul>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" data-dismiss="modal">Select</a>
						<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="about_div">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">&times;</a>
						<h3>About Circuitscape</h3>
					</div>
					<div class="modal-body">
						<img src="static/cs_logo.jpg" class="pull-left" style="margin-right: 10px"/>
						<p>
							Version 4.0.0-beta
							<br>
							<a href="http://www.circuitscape.org/">http://www.circuitscape.org/</a>
							<br/>
							<br/>
							Circuitscape is a free, open-source program which borrows algorithms from electronic circuit theory to
							predict patterns of movement, gene flow, and genetic differentiation among plant and animal populations
							in heterogeneous landscapes. Circuit theory complements least-cost path approaches because it considers
							effects of all possible pathways across a landscape simultaneously.
							<br/>
							<br/>
							Circuitscape (C) 2013, Brad McRae, Viral B. Shah. and Tanmay Mohapatra
							<br/>
							Licensed under LGPL.
						</p>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
			
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="ext/jquery-1.10.2.js" type="text/javascript"></script>
		<script src="ext/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="static/bootstrap-spinedit.js" type="text/javascript"></script>
	
		<script type="text/javascript">
			var file_dlg_result_target = '';
			var file_dlg_conn;
			var file_dlg_cwd = '';
			var file_dlg_headers = {
				'habitat_file_select': "Choose a Habitat Map",
				'habitat_mask_file_select': "Choose a Habitat Mask",
				'short_circuit_file_select': "Choose a Short Circuit Map",
				'focal_nodes_file_select': "Choose a Focal Node Map",
				'incl_excl_file_select': "Choose an Include/Exclude Nodes File",
				'src_strength_file_select': "Choose a file with source strengths",
				'current_sources_file_select': "Choose a file with current sources",
				'ground_points_file_select': "Choose a file with ground points",
			};
			
			function file_dlg_list(dir) {
				data = {};
				if(file_dlg_cwd.length > 0) {
					data['cwd'] = file_dlg_cwd;
				}
				if(dir) {
					data['dir'] = dir;
				}
				file_dlg_conn.send(JSON.stringify({
					'msg_type': 1,
					'data': data
				}));				
			};
			
			function file_dlg_init(target_id) {
				file_dlg_result_target = target_id.substring(0, target_id.lastIndexOf('_'));
				$('#'+file_dlg_result_target).val('');
				$('#filedlg_div_title').html(file_dlg_headers[target_id]);
				$('#filedlg_div').modal('show');
				$('#filedlg_div').on('hidden.bs.modal', function() {
					if(file_dlg_conn) {
						file_dlg_conn.close();						
					}
				});

				file_dlg_conn = new WebSocket('ws://localhost:8080/websocket');
				file_dlg_conn.onopen = function() {
					file_dlg_list();
				};
				file_dlg_conn.onmessage = function(evt) {
					resp = JSON.parse(evt.data);
					if (resp.msg_type == 2) {
						file_dlg_cwd = resp.data.dir;
						$('#filedlg_div_dir').html(file_dlg_cwd);
						files_html = "";
						for(idx=0; idx < resp.data.filelist.length; idx++) {
							filename = resp.data.filelist[idx][0];
							is_dir = resp.data.filelist[idx][1];
							files_html += ("<li class=\"" + (is_dir ? "filedlg_dir" : "filedlg_file") + "\">" + filename + "</li>"); 
						}
						$('#filedlg_div_files').html(files_html);
						$('.filedlg_dir').click(function(e){
							file_dlg_list($(this).html());
						});
						$('.filedlg_file').click(function(e){
							sel_file = $(this).html();
							sel_file = file_dlg_cwd + "/" + sel_file;
							$('#'+file_dlg_result_target).val(sel_file);
							$('#filedlg_div').modal('hide');
						});
					}
				};
			};
			
			function select_input_format(selVal) {
				if(selVal == 'raster') {
					$('.on_raster').show();
					$('.on_network').hide();
				}
				else {
					$('.on_raster').hide();
					$('.on_network').show();
				}
			};
			
			function select_modeling_mode(selVal) {
				$('.on_modeling_mode').hide();
				$('.on_modeling_mode').filter($('.on_'+selVal)).show();
			};
			
			$(document).ready(function() {
				$('input[id=habitat_file_hidden]').change(function() {
					$('#habitat_file').val($(this).val());
				});
				$('#input_tabs').tab();
				$('#input_tabs a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
				$('.server_file_dlg').click(function(e){
					file_dlg_init(e.target.id);
				});
				
				$('#num_parallel_procs').spinedit({
					minimum: 1,
					maximum: 10,
					step: 1,
					value: 1,
					numberOfDecimals: 0
				});
				
				select_modeling_mode('pairwise');
				$('#modeling_mode input:radio').change(function() {
					var selVal = $("#modeling_mode input:radio:checked").val();
					select_modeling_mode(selVal);
				});
				
				select_input_format('raster');
				$('#input_format input:radio').change(function() {
					var selVal = $("#input_format input:radio:checked").val();
					select_input_format(selVal);
				});				
			});
		</script>
	</body>
</html>
